.subjectList {
  margin-bottom: 2px;
  margin-left: 20px;
}
.subjectListWrapper {
  position: relative;
  margin-left: 20px;
  font-size: 17px;
}
.subjectIcon {
  position: absolute;
  top: 4px;
  left: -20px;
}
.param {
  margin-bottom: 2px;
  font-size: 17px;
}