.settingsForm {
  width: 70%;
  margin: 0 auto;
}

.fieldGroup {
  position: relative;
}

.error {
  position: absolute;
  top: 70px;
  left: 10px;
  font-size: 13px;
  color: red;
}

.submitWrapper {
  display: flex;
  align-items: center;
}